<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <title>건배사</title>
</head>
<body>

<div layout:fragment="content">
  <div  class="jumbotron hn" style="background-color: transparent !important;">
    <div class="container">
      <h1 class="display-3">재미있는 건배사!</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>3글자 건배사</h3>
        <p>청춘은 바로 지금! <b>청바지</b></p>
        <p>단순 무식하게 지금을 즐기자! <b>단무지</b></p>
      </div>
      <div class="col-md-4">
        <h3>4글자 건배사</h3>
        <p>흥해도 청춘! 망해도 청춘! <b>흥청망청</b></p>
        <p>동료를 사랑하는 것이 무엇보다 소중하다! <b>동사무소</b>
        <p>당당하고 신나고 멋지게 살되 가끔은 져주자! <b>당신멋져</b></p>
      </div>
      <div class="col-md-4">
        <h3>선창 후창 건배사</h3>
        <p><b>이멤버! </b> - <b>리멤버!</b></p>
        <p><b>술잔은 비우고! </b> - <b>마음은 채우고!</b></p>
        <p><b>하쿠나! </b> - <b>마타타!</b></p>
      </div>
    </div>
  </div>

</div>

</body>
</html>
